<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ABP_Grupal_5</display-name>
  
  <servlet>
  	<servlet-name>InicioServlet</servlet-name>
  	<servlet-class>ABP_Grupal_5.controlador.Inicio</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ccapacitacion</servlet-name>
  	<servlet-class>ABP_Grupal_5.controlador.Ccapacitacion</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CerrarSesionServlet</servlet-name>
  	<servlet-class>ABP_Grupal_5.controlador.CerrarSesionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListarCapacitacionesServlet</servlet-name>
  	<servlet-class>ABP_Grupal_5.controlador.ListarCapacitacionesServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>ABP_Grupal_5.controlador.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UsuariosServlet</servlet-name>
  	<servlet-class>ABP_Grupal_5.controlador.UsuariosServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>InicioServlet</servlet-name>
  	<url-pattern>/static/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
     <welcome-file>inicio.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>